<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7JoihL1UxVKO7n3OW1Sq1fVwRRD0F2Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>444961312315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>om.cachemoney613.KitatKonenutTracker</string>
	<key>PROJECT_ID</key>
	<string>emergency-response-track-a7751</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-response-track-a7751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444961312315:ios:435959dd6687dbe46b961e</string>
</dict>
</plist>